<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="realtimeChart" width="640" height="480"></canvas>
    <script>
        let chart; // Declare the chart variable globally

        function initializeChart() {
            const query = new URLSearchParams(window.location.search).get('query'); 
            const ctx = document.getElementById('realtimeChart').getContext('2d');
            chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [], // Initialize empty labels
                    datasets: [{
                        label: 'Real-Time Data of' + query,
                        data: [],
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        x: { 
                        type: 'linear',
                        title: { display: true, text: 'Time' },
                        beginAtZero: true,
                        min: 0,
                        max: 12,
                    },
                        y: {
                            beginAtZero: true,
                            min: -90,
                            max: 90,
                        }
                    },
                    animation: {
                            duration: 0
                    }
                }
            });
        }

        function fetchAndUpdateChart() {
            const query = new URLSearchParams(window.location.search).get('query'); // Get query parameter from the URL
            const url = '/' + query; // Use the query parameter directly in the URL
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (chart) {
                        // Update the chart's labels and data
                        chart.data.labels = data.map(item => item[1].toFixed(2)); // Use the time values for labels and show only the first 2 digits
                        chart.data.datasets[0].data = data.map(item => item[0]); // Use the value for data
                        chart.update(); // Re-render the chart
                    }
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        // Initialize the chart and set up periodic updates
        initializeChart();
        setInterval(fetchAndUpdateChart, 200);
    </script>
</body>
</html>
