<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Project de IDS</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f8ff;
        text-align: center;
        padding: 50px;
      }
      h1 {
        color: #cc0641;
        font-size: 3rem;
      }
    </style>
</head>
<body>
    <h1>WELCOME TOUT LE MONDE A NOTRE SUPER PROJECT DE IDS</h1>
    <img src="minesparisLOGO.png" alt="LOGO">
    <label for="PInput">P: </label>
    <input type="text" id="PInput" placeholder="Enter value for P">
    <br>
    <label for="IInput">I: </label>
    <input type="text" id="IInput" placeholder="Enter value for I">
    <br>
    <label for="DInput">D: </label>
    <input type="text" id="DInput" placeholder="Enter value for D">
    <br>
    <button onclick="sendMessage()">Send</button>

    <script>
        async function sendMessage() {
            const PInput = document.getElementById("PInput").value;
            const IInput = document.getElementById("IInput").value;
            const DInput = document.getElementById("DInput").value;

            const jsonData = {
                "BlockID": "webpub 1",
                "Signal": [
                    { "DataType": "double", "Value": [PInput] },
                    { "DataType": "double", "Value": [IInput] },
                    { "DataType": "double", "Value": [DInput] }
                ]
            };

            try {
                const response = await fetch('/api/send-data', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(jsonData)
                });

                if (response.ok) {
                    console.log('Data sent successfully');
                } else {
                    console.error('Error sending data:', response.statusText);
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>

<iframe src="https://www.quatiquati.com/camera_view" width="640" height="480"></iframe>
</body>
</html>
